/themes/negar/functions.php
/languages/
/upgrade/
/uploads/
/index.php
/advanced-cache.php
/themes/index.php
/themes/zanbil-child/
/themes/zanbil/
/plugins/woocommerce/
/plugins/sw-responsive-post-slider/
/plugins/duplicator/
/plugins/yith-woocommerce-customize-myaccount-page/
/plugins/tm-woocommerce-compare-wishlist/
/plugins/js_composer/
/plugins/persian-woocommerce/
/plugins/sw-zanbil/
/plugins/persian-woocommerce-sms/
/plugins/sw_woocommerce/
/plugins/jc-woocommerce-advanced-attributes/
/plugins/contact-form-7/
/plugins/index.php
